
.card {
  width: auto;
  height: 100%;
  font-family: 'Georgia', serif;
  min-width: 580px;
}

.card-header{
  text-align: center;
  background-color:rgb(236,112,0);
  color: #FFFF;
}



#registerButton{
  margin-right: 10px;
  background-color:rgb(236,112,0);
  font-weight: 200;
  border-color: transparent;
}

h5{
  font-size: 15px;
  font-weight: 500;
}

@media (max-width: 768px){
  .formContainer{
    min-width: unset;
    -webkit-transform: scale(1.5);
    transform: scale(0.9);
  }
}

@media (max-height: 600px){
  .formContainer{
    -webkit-transform: scale(1.5);
    transform: scale(0.9);
  }
}

.warningContainer{
  font-weight: 300;
  font-size: 13px;
  color:rgb(236,112,0);
  margin-top: 3px;
  margin-bottom: -10px;
  margin-left: 10px;
}

.warningContainerCheckbox{
  font-weight: 300;
  font-size: 13px;
  color: Red;
  display: flex;
  margin-top: 3px;
  margin-bottom: -20px;
  margin-left: -15px;
  padding-bottom: 10px;
}

.warningIconConfig{
  font-weight: 600;
  font-size: 18px;

}

.warningTextConfig{
  margin-left: 5px;
  padding-top: 5px;
  font-size: 15px;
}


a{
  text-decoration: none;
}


