
<body>

  <div class="mainContainer">
    <form class="form">
  <div class="card-header">
    Abra sua Conta
  </div>
  <div class="card-body ">
    <form>
      <div class="mb-3">
        <h5 class="card-title"><i class="bi bi-person-fill" ></i> Nome Completo</h5>
        <input type="text" class="form-control" aria-describedby="cpfHelper" placeholder="Nome Completo" formControlName="nome">
        <ng-container *ngIf="formulario.controls.nome.touched">
          <span class="warningContainer" *ngIf="formulario.controls.nome.errors">
            <i class="bi bi-exclamation-triangle warningIconConfig"></i>
            <label class="warningTextConfig">Campo Obrigatório</label>
          </span>
        </ng-container>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <h5 class="card-title"><i class="bi bi-person-fill"></i> CPF</h5>
            <input class="form-control"  placeholder="Seu CPF" mask='000.000.000-00' formControlName="cpf">
            <ng-container *ngIf="formulario.controls.cpf.touched">
              <span class="warningContainer" *ngIf="formulario.controls.cpf.errors">
                <i class="bi bi-exclamation-triangle warningIconConfig"></i>
                <label class="warningTextConfig">Campo Obrigatório</label>
              </span>
            </ng-container>
          </div>
          <div class="col">
            <h5 class="card-title"><i class="bi bi-envelope-fill"></i> E-mail</h5>
            <input class="form-control"  placeholder="Seu e-mail" formControlName="email">
            <ng-container *ngIf="formulario.controls.email.touched">
              <span class="warningContainer" *ngIf="formulario.controls.email.errors">
                <i class="bi bi-exclamation-triangle warningIconConfig"></i>
                <label class="warningTextConfig">Campo Obrigatório</label>
              </span>
            </ng-container>
          </div>
          <div class="col">
            <h5 class="card-title"><i class="bi bi-person-fill"></i> Data nascimento</h5>
            <input class="form-control"  placeholder="Data nasc" mask='00/00/0000' formControlName="dtnasc">
            <ng-container *ngIf="formulario.controls.dtnasc.touched">
              <span class="warningContainer" *ngIf="formulario.controls.dtnasc.errors">
                <i class="bi bi-exclamation-triangle warningIconConfig"></i>
                <label class="warningTextConfig">Campo Obrigatório</label>
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="row">
          <div class="col">
            <h5 class="card-title"><i class="bi bi-person-fill"></i> Senha</h5>
            <input class="form-control"  placeholder="Senha" type="password" formControlName="password">
            <ng-container *ngIf="formulario.controls.password.touched">
              <span class="warningContainer" *ngIf="formulario.controls.password.errors">
                <i class="bi bi-exclamation-triangle warningIconConfig"></i>
                <label class="warningTextConfig">Campo Obrigatório</label>
              </span>
            </ng-container>
          </div>
          <div class="col">
            <h5 class="card-title"><i class="bi bi-person-fill"></i> Confirmação de senha</h5>
            <input class="form-control"  placeholder="Senha" type="password" formControlName="rePassword">
            <ng-container *ngIf="formulario.controls.password.touched">
              <span class="warningContainer" *ngIf="formulario.controls.password.errors">
                <i class="bi bi-exclamation-triangle warningIconConfig"></i>
                <label class="warningTextConfig">Campo Obrigatório</label>

              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <div class="row">

          <div class="col">
            <h5 class="card-title"><i class="bi bi-person-fill"></i> Celular</h5>
            <input class="form-control"  placeholder="(00)00000-0000" mask='(00) 00000-0000' formControlName="telefone">
            <ng-container *ngIf="formulario.controls.celular.touched">
              <span class="warningContainer" *ngIf="formulario.controls.celular.errors">
                <i class="bi bi-exclamation-triangle warningIconConfig"></i>
                <label class="warningTextConfig">Campo Obrigatório</label>
              </span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="form-group form-check mb-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="checkRegulamento">
        <label class="form-check-label" for="exampleCheck1"><a> Aceito os termos</a></label>
        <ng-container *ngIf="formulario.controls.checkTermos.touched">
          <span class="warningContainerCheckbox" *ngIf="formulario.controls.checkTermos.errors">
            <i class="bi bi-exclamation-triangle warningIconConfig"></i>
            <label class="warningTextConfig">Campo Obrigatório</label>
          </span>
        </ng-container>
      </div>
      <div class="form-group form-check mb-3">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="checkRegulamento">
        <label class="form-check-label" for="exampleCheck1"><a> Deseja receber mais informações sobre investimentos via SMS ou e-mail</a></label>
        <ng-container *ngIf="formulario.controls.checkReceber.touched">
          <span class="warningContainerCheckbox" *ngIf="formulario.controls.checkReceber.errors">
            <i class="bi bi-exclamation-triangle warningIconConfig"></i>
            <label class="warningTextConfig">Campo Obrigatório</label>
          </span>
        </ng-container>
      </div>
      <span>
      <button type="submit" id="registerButton" class="btn btn-primary" >Enviar</button>
    </span>
    </form>
  </div>
 <div>
  <div>
    <form>







