



<nav class="navbar navbar-expand-lg navbar-dark bg-orange">
  <img class="center" src="../../assets/itau.jpg">
  <a class="navbar-brand" href="#">Indra</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Institucional</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Acesse sua conta
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink='/usuario'>Acessar sua conta</a></li>
            <li><a class="dropdown-item" routerLink='/login'>Cadastrar nova conta</a></li>

          </ul>
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Banco Indra pra você</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cartões</a>
      </li>
      <button type="button" class="btn btn-dark">Agência</button>
      <button type="button" class="btn btn-light">00000</button>
      <button type="button" class="btn btn-dark">Conta</button>
      <button type="button" class="btn btn-light">00000</button>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busca</button>
    </form>
  </div>
</nav>



